* { box-sizing: border-box; }

html,body { 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%; 
}

.bg-contact{
	background-image: url("../img/type.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}

.contact-container {
	position: absolute;
	left: 42%;
	top: 55%;
}

.nav {
	background-color: #9d6370;
	position: fixed;
	width: 100%;
	top: 0;
}

.nav ul {
	float: right;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.05em;
	padding: 20px 10px 20px;
}

.nav a {
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.nav a:hover {
	color: #cad6d9;
	text-decoration: none;
}

/*Typography*/

h1,
h2 {
	font-family: 'Armata', Helvetica, Arial, sans-serif;
	font-size: 3em;
	font-weight: 50;
}

.contact-container {
	background-color: rgba(221, 221, 221, 0.73);
	padding: 20px;
}

p {
	font-family: 'Gentium Basic', Georgia, serif;
	font-size: large;
}


