	.jumbotron {
			background-image: url("../img/map2.jpeg");
			background-size: cover;
	}

    .jumbotron p {
		color: white;
    }

	.jumbotron h1 {
		color: rgba(7, 22, 107, 0.78);
	}

	.jumbotron a {
		color: white;
	}

	body {
		background-color: rgba(135, 162, 169, 0.3);
	}

