* { box-sizing: border-box; }

body {
    background-image: url("../img/linen.jpg");
    color: #34495e;
}

/*NAV BAR*/
.anchor {
  padding-top: 60px;
}

.navbar {
    background-color: #b94642;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f5f5f5;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #020000;
    text-decoration: none;
}

.navbar-brand {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.10em;
    padding: 20px 19px 20px;
}

.navbar-brand a {
    color: #f5f5f5;
}

.navbar-brand a:hover {
    color: #333;
    text-decoration: none;
}

/**** INDEX SECTION ****/
#home {
    padding: 0px;   
}

.carousel-inner>.item>img {
    padding-top: 3.5%;
}

.carousel-caption h3 {
    display: inline-block;
    top: 70%;
}

/*portfolio img grid*/
#projects img {
    border-radius: 5%;
    display: block;
    margin: 15px auto;
    height: 100%;
    width: auto;
}

#projects h3 {
    position: absolute;
    display: inline-block;
    top: 80%;
    margin: 0;
    margin-left: 27%;
}

/**** WORK ****/
#work2 img {
    border-radius: 5%;
    margin: 0 auto;
    width: 50%;
}
 
#work2 h4 {
    margin: 0 auto;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

/**** ABOUT SECTION ****/
.about {
    width: 80%;
}

.header h1 {
    margin: 50px 0px;
    text-align: center;
}

.col-md-4 img {
    border-radius: 7%;
}

.main-text {
    position: relative;
    clear: both;
    padding-top: 5%;
}

.main-text p {
    font-size: 1.3em;
}

.skills {
    border-radius: 55%;
    display: inline-block;
    padding: 50px; 
    background-color: rgba(127, 127, 127, 1);
    color: #FFF;
}

#skill-list {
    margin-left: 3%;
    font-size: 1.5em;
}

/**** CONTACT SECTION ****/
#contact {
    background-image: url("../img/mac.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 20%;
    max-height: 100%;
    color: white;
}

.contact-box {
    display: inline-block;
}

.contact-box p:hover {
    color: #a94442;
}

/**** FAQ SECTION ****/
#faq {
    padding: 100px 0px;
}

.panel-default>.panel-heading {
    background-color: rgba(157, 157, 157, 0.75);
    border-style: none;
}

/**** Footer Bar ****/
.bar {
    padding-top: 15px;
    color: white;
    background-color: #b94642;
}

.footer-element {
    display: inline-block;
    float: right;
    padding: 0px 5px;
}

/*Typography*/
.navbar li a,
h1,
h2,
h4,
.panel-title  {
    font-family: 'Armata', Helvetica, Arial, sans-serif;
}

.navbar-brand a {
    font-family: 'Shadows Into Light', sans-serif;
    text-decoration: none;
}

.carousel-caption h3,
h3 {
    font-family: 'Fredericka the Great', cursive, Georgia, serif;
    text-shadow: 0 4px 4px rgb(0, 1, 6);
}

.carousel-caption p {
    font-family: 'Josefin Slab', Georgia, serif;
    text-shadow: 0 4px 4px rgb(0, 1, 6);
}

.panel-body, p {
    font-family: 'Gentium Basic', Georgia, serif;
    font-weight: bolder;
    font-size: medium;
}

.intro p {
    font-family: 'Caveat', Helvetica, Arial, sans-serif, cursive;
    font-size: 2em;
    font-weight: 100;
    -webkit-margin-before: 0em;
}

h3 {
    color: #fff;
    text-shadow: 0 4px 4px rgb(0, 1, 6);
}

.skills h3 {
    text-align: center;
    text-transform: uppercase;
}

/* Media Queries */
@media screen and (max-width: 768px){

/**** Body ****/    
    .anchor {padding: 10px;}

    hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 0px;
}

/**** Projects ****/    
    #projects {display: none;}
}


















