/* Large desktop */
@media (min-width: 1200px) { ... }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) { ... }

body {
	background-color: rgba(135, 162, 169, 0.3);
}

#home {
	padding: 0px;
	position: relative;
}

.carousel {
	padding-top: 0;
	max-height: 100%;
	overflow: hidden;
}

.carousel-caption {
	top: 70%;
	display: inline-block;
}

/*portfolio img grid*/

#work img {
	display: block;
	margin: 15px auto;
	height: 100%;
}

#work h3 {
	display: inline-block;
	margin: 0;
	margin-left: 27%;
	position: absolute;
	top: 80%;
}

/**** ABOUT PAGE ****/
* { box-sizing: border-box; }

body {
	background-color: rgba(135, 162, 169, 0.44);
	color: #34495e;
}

.about {
	width: 80%;
	margin: 100px auto;
}

.header h1 {
	text-align: center;
	margin: 100px 0px;
}

.image {
	display: inline-block;
	float: left;
}

.main-text {
	position: relative;
	clear: both;
	padding-top: 60px;
}

.full-width {
	width: 100%;
}

.skills {
	background-color: #8a6d3b;
	color: #f5f5f5;
}

#skill-list {
	margin-left: 10px;
}

/**** CONTACT PAGE ****/
* { box-sizing: border-box; }

html,body { 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%; 
}

.bg-contact{
	background-image: url("../img/type.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}

.contact-box {
	position: absolute;
	left: 42%;
	top: 60%;
	background-color: rgba(204, 204, 204, 0.65);
}

.contact-box p:hover {
	color: #a94442;
}

/*NAV BAR*/
.nav {
	background-color: #b94642;
	position: relative;
	width: 100%;
	top: 0;
	z-index: 1;
}

.nav ul {
	float:right;
	padding: 0;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	display: inline-block;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.05em;
	padding: 20px 19px 20px;
}

.nav a {
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.nav a:hover {
	color: #020000;
	text-decoration: none;
}

/**** FAQ PAGE ****/
.content-faq {
	padding-top: 10%;
}

.panel-default>.panel-heading {
	background-color: rgba(157, 157, 157, 0.75);
	border-style: none;
}

/*Typography+Index+ContactPage*/

.nav li a {
	font-family: 'Armata', Helvetica, Arial, sans-serif;
}

.carousel-caption h3 {
	font-family: 'Fredericka the Great', cursive, Georgia, serif;
	text-shadow: 0 4px 4px rgb(0, 1, 6);
	font-size: 30px
}

.carousel-caption p {
	font-family: 'Josefin Slab', Georgia, serif;
	text-shadow: 0 4px 4px rgb(0, 1, 6);
}

h1,
h2 {
	font-family: 'Armata', Helvetica, Arial, sans-serif;
	font-size: 3em;
	font-weight: 50;
}

h3 {
	font-family: 'Fredericka the Great', cursive, Georgia, serif;
	color: #fff;
	text-shadow: 0 4px 4px rgb(0, 1, 6);
};
}

.contact-box {
	background-color: rgba(221, 221, 221, 0.73);
	padding: 20px;
}

p {
	font-family: 'Gentium Basic', Georgia, serif;
	font-size: large;
}

/*Typography+FAQ+About Page*/

.panel-title {
	font-family: 'Armata', Helvetica, Arial, sans-serif;
}

.panel-body {
	font-family: 'Gentium Basic', Georgia, serif;
	font-weight: bolder;
	font-size: medium;
}

h1,
h2,
h3 {
	font-family: 'Armata', Helvetica, Arial, sans-serif;
}

p,
li {
	font-family: Georgia, 'Palatino', serif;
}

.intro p {
	font-family: 'Caveat', Helvetica, Arial, sans-serif, cursive;
	font-size: 2em;
	font-weight: 100;
	-webkit-margin-before: 0em;
}

.skills h3 {
	text-align: center;
	text-transform: uppercase;
}

.skills {
	background-color: rgba(160, 150, 140, 0.82);
	color: #FFF;
	padding: 20px;
}


